
h1 {
    
  margin-left: 20px;
  font-family: 'GOST type A', sans-serif;
}
body{
  background-color:mediumturquoise;
  margin-left: 150px;
  margin-right:150px;
  margin-top: 150px;
  margin-bottom: 150px;

}
introduction{
  color:black;
}