
h1 {
    
  margin-left: 20px;
  font-family: 'GOST type A', sans-serif;
  text-emphasis-color: ghostwhite;
  color: ghostwhite;
  font-size: 40px;
  padding-inline:25px ;
}
body{
  background-color:#00cccc;
  margin-left: 150px;
  margin-right:150px;
  margin-top: 150px;
  margin-bottom: 150px;

}
